<a href="{{ "/" | relURL }}">База</a>
{{ range .Site.Menus.main }}
<a href="{{ .URL }}">{{ .Name }}</a>
{{ end }}
{{ with .Site.GetPage "/blog" }}
<a href="{{ "/blog" | relURL }}">Блог</a>
{{ end }}
{{ with .Site.GetPage "/guides" }}
<a href="{{ "/guides" | relURL }}">Гайды</a>
{{ end }}
